<% provide(:name, "Declaration Page") %>

<h3>Kindly download and read the declaration carefuly and upload a signed copy when you are done.</h3> 

  <div class="full-article">
      <%= link_to "GET Declaration", declaration_path, target: "_blank" %>
  </div>

  <%= render layout: 'form' do |form| %>

    <div class="declaration upload field">
      <%= form.label "Upload Signed Declaration" %>   
      <%= form.file_field :attachment, target: "_blank" %>  
    </div> 

  <% end %>
