
<% if user_signed_in? && current_user.admin? %>
  <div class="">
  <% provide(:name, "Admin") %>
    <h2>Get started here</h2>
    <%= link_to "View All Loaners Profiles", profiles_path %>
    <%= link_to 'Edit Profile', profile_path(current_user), class: '#' %>
  </div>
<% else %>
  <div class="">
  <% provide(:name, "All Users") %>
    <h2>Get started here</h2>
    <%= link_to 'View Dashboard', loaners_path %>
    <%= link_to 'Edit Profile', profile_path(current_user), class: '#' %>
  </div>
<% end %>
