<h1>Editing Profile</h1>
<% provide(:name, "Editing My Profile") %>
<%= render 'form', profile: @profile %>

<br><br><br><br><br><br><br><br><br><br>
<div class="btn-box">
    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', request.referrer, method: :get %>
</div>