<p id="notice"><%= notice %></p>
<% provide(:name, "My Profile") %>

<% if current_user.admin? %>
  <%= render 'admin', profile: @profile %>
<% else %>
  <%= render 'user', profile: @profile %> 
<% end %>
