$primary-color-dark: #5fb523;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$divider-color: #bdbdbd;

body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  text-decoration: none;
  color: $primary-color-text;
}

a:visited {
  color: #666; }

a:hover {
  color: $primary-color;
  // background-color: #000;
  text-decoration: none;
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

// Custom Styling starts here!!!

.btn-box {
  width: 100%;
  max-width: 665px;
  margin: auto;
  text-align: center; 
  padding: 20px;
  .button_to {
    display: inline;
  }
  background: $primary-color-dark;

  a {
    text-decoration: none;
    color: $primary-color-light;
  }
  
  a:visited {
    color: #f0f0f0; }
  
  a:hover {
    color: $primary-color-text;
    font-size: larger;
    text-decoration: none;
  }
}

.showcase {
  border-collapse: collapse;
  max-width: 665px;
  margin: auto;
  width: 100%;
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;
  }

  tr:hover {
    background-color: #ddd;
  }
  th {
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary-color-dark;
  color: white;
  }
}

form {
  width: 80%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0px;
    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
  }

  input[type="submit"]:hover {
    background-color: $primary-color;
    color: #fff;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }

  #error_explanation {
    h2 {
      color: $primary-color-text;
      font-size: 1em;
    }
    ul {
      color: #f00;
    }
  }
}
